.wd-wrap {
  margin: 16px;
  background: #fff;
  padding: 16px;
  color: #2E333B;
  .wd-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    .wd-titleName {
      font-size: 16px;
      line-height: 32px;
      font-weight: 700;
      padding-left: 16px;
    }
  }
  .wd-row {
    margin: 0 16px;
    .wd-col {
      box-shadow: 0 1px 0 0 #F4F4F5;
      height: 54px;
      padding: 16px;
      .wd-label {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  .wd-lastCol {
    margin: 0 16px;
    height: 54px;
    padding: 16px;
    box-shadow: 0 1px 0 0 #F4F4F5;
    .wd-label {
      font-size: 14px;
      font-weight: 700;
    }
  }
}


